{% extends "quotes/base.html" %}

{% block content %}

<div>
    <p>Create new quote</p>
</div>
<form method="post" action="{% url 'quotes:create_quote' %}">
    {% csrf_token %}
    <div>
        <label> Tags:
            {{ form.tags }}
        </label>
        <span>{{ form.errors.tags }}</span>
    </div>
    <div>
        <label>Author:
            {{ form.author }}
        </label>
        <span>{{ form.errors.author }}</span>
    </div>
    <div>
        <label>Quote:
            {{ form.quote }}
        </label>
        <span>{{ form.errors.quote }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}