<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'noteapp/styles.css' %}">

</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li> <a href="/" role="button">Go bck to the main page</a> </li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
</main>
</body>
</html>